@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Dancing+Script:wght@400..700&family=Lobster&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: #284665;
}

.container{
    max-width: 1024px;
    margin: 0 auto;
}

header{
    background-color: #284665;
    padding: 16px 10px;
    color: #e8e8ed;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.logo{
    text-align: center;
    font-family: 'Lobster', sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.logo img{
    width: 70px;
}

.navigation{
    display: flex;
    list-style: none;
    gap: 10px;
    cursor: pointer;
    font-family: 'Arvo', sans-serif;
}

.navigation li a{
    text-decoration: none;
    color: #e8e8ed;
    transition: all 0.5s;
}

.navigation li a:hover{
    color: #fff;
    transform: translateY(-1px);
}

.front{
    display: grid;
    grid-template-columns: 55% 45%;
    align-items: center;
    width: 90%;
    background-color: #284665;
    border-radius: 20px;
    padding-right: 10px;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.2);
    transition: 0.4s;
}

.front:hover{
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

.front img{
    width: 100%;
    object-fit: cover;
    height: 450px;
    border-radius: 20px;
    padding-right: 32px;
}

.sun{
    background-color: #1e3347;
    padding: 32px 0;
    color: #e8e8ed;
    font-family: 'Lobster';
}

.center hr{
    margin: 20px 0;
}

.center h2{
    text-align: center;
}

.split{
    text-align: center;
    padding: 1.9em 0;
    font-family: 'Dancing Script', sans-serif;
    font-size: 5em;
    background-color: #83d1dc;
    color: #284665;
}

.produtos{
    background-color: #284665;
}

.produtos h2{
    padding-top: 43px;
    padding-bottom: 23px;
    font-size: 2em;
    color: #e8e8ed;
    font-family: 'Dancing Script', sans-serif;
}

.lista{
    display: grid;
    grid-template-columns: repeat(4, 24.5%);
    gap: 1%;
    padding-bottom: 8em;
}

.produto{
    background-color: #0e2d5f;
    padding-bottom: 1em;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
    transition: 0.4s;
}

.produto:hover{
    transform: scale(1.02);
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.4);;
}

.produto .content{
    padding: 0.5em;
    color: #eee;
}

.produto p{
    color: #C0C0C0;
}

.produto h4, .produto p, .produto button{
    margin: 0.5em;
}

.produto h4{
    text-transform: uppercase;
}

.produto .value{
    font-weight: bold;
    font-size: 1.1em;
    color: #eee;
    padding: 0.2em ;
}

.produto button{
    margin-top: 10px;
    padding: 6px;
    border-radius: 10px;
    border: none;
    background-color: #eee;
    text-transform: uppercase;
    font-weight: bold;
    color: #284665;
    cursor: pointer;
    transition: 0.4s;
}

.produto button:hover{
    background-color: #d6c9b1;
}

.produto img{
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 20px;
}

.footer{
    background-color: #83d1dc;
    padding: 3em;
    color: #fff;
}

.foot{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.foot h2{
    margin-bottom: 16px;
}

.foot .contato{
    & p{
        margin-bottom: 5px;
    }
}

.foot .social{
    text-align: center;
}

.foot .social a i{
    color: #eee;
    font-size: 1.5em;
    transition: 0.4s;
}

.foot .social a i:hover{
    color: #83d1dc;
}

.foot img{
    width: 300px;
    border-radius: 20px;
    cursor: pointer;
}

.foot .adress{
    text-align: center;
}

.foot .reserved{
    position: absolute;
    bottom: 5%;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .front{
        width: 90%;
        display: block;
        padding-right: 0;
        padding-bottom: 2em;
    }
    .front img{
        padding-right: 0;
    }

    .front .about{
        padding: 0.8em;
        text-align: center;
    }

    .lista, .produtos > .container{
        width: 90%;
    }

    .lista{
        display: grid;
        grid-template-columns: repeat(2, 48%);
        gap: 4%;
    }

}

@media screen and (max-width: 767px){
    .front {
        width: 90%;
        display: block;
        padding-right: 0;
        padding-bottom: 2em;
    }

    .front img {
        padding-right: 0;
        height: 300px;
    }

    .front .about {
        padding: 0.8em;
        text-align: center;
    }

    .split{
        font-size: 3.5em;
    }

    .lista,
    .produtos>.container {
        width: 85%;
    }

    .lista {
        display: grid;
        grid-template-columns: 100%;
        gap: 2.5%;
    }

    .footer{
        margin-top: 40px;
    }

    .foot{
        display: block;
    }
    
    .foot h2 {
        margin-bottom: 16px;
    }

    .foot .social,
    .foot .contato, 
    .foot .adress {
        margin-bottom: 20px;
    }

    .foot .social {
        text-align: start;
    }

    .foot .adress {
        text-align: start;
    }

    .foot .reserved {
        position: relative;
        bottom: 0;
    }

}